<mat-expansion-panel *ngFor="let setting of settings">

  <mat-expansion-panel-header class="header-setting">
    <mat-panel-title>
      <div *ngIf="settingsInEditMode !== setting">{{ setting.name }}</div>
      <input *ngIf="settingsInEditMode === setting" #name type="text" class="setting-name"
          [(ngModel)]="setting.name" 
          (focusout)="settingsInEditMode = null" 
          (click)="$event.stopPropagation()"
          (keydown)="$event.keyCode === 13 ? settingsInEditMode = null : 0; $event.keyCode === 32 || $event.keyCode === 13 ? $event.stopPropagation() : 0;"/>
    </mat-panel-title>

  </mat-expansion-panel-header>

  <div *ngFor="let param of setting.params">
    <table>
      
      <tr>
        <td colspan="3" class="paramOverview">
          {{param.name}}: {{ param.value || param.defaultValue }}
        </td>
      </tr>

      <tr *ngIf="configParam(setting.type, param.name).type === 'int'">
        <td class="minValue">
          <mat-label>{{ configParam(setting.type, param.name).minValue }}</mat-label>
        </td>
        <td class="slider">
          <mat-slider class="slider" [class.hue]="isHueParam(param.name)" [max]="configParam(setting.type, param.name).maxValue" thumbLabel="true" [min]="configParam(setting.type, param.name).minValue" [value]="param.value || param.defaultValue" (change)="changeValue(param, $event.value)"></mat-slider>
        </td>
        <td class="maxValue">
          <mat-label>{{ configParam(setting.type, param.name).maxValue }}</mat-label>
        </td>
      </tr>

      <tr *ngIf="configParam(setting.type, param.name).type === 'string'">
        <td class="text" colspan="3">
          <input type="text" [value]="param.value || param.defaultValue" (change)="changeValue(param, $event.target.value)">
        </td>
      </tr>

    </table>
    
  </div>

  <button mat-raised-button (click)="activateSetting(setting)"><i class="fa fa-play"></i></button>
  <button mat-raised-button (click)="saveSetting(setting)"><i class="fa fa-floppy-o"></i></button>
  <button mat-raised-button (click)="cloneSetting(setting)"><i class="fa fa-clone"></i></button>
  <button mat-raised-button *ngIf="delConfirmation" (click)="deleteSetting(setting)" color="warn"><i class="fa fa-trash"></i></button>
  <button mat-raised-button *ngIf="!delConfirmation" (click)="deleteSetting(setting)"><i class="fa fa-trash"></i></button>
  <button mat-raised-button (click)="edit(setting)"><i class="fa fa-pencil"></i></button>

</mat-expansion-panel>

<mat-expansion-panel *ngFor="let config of configs">

  <mat-expansion-panel-header class="header-config">
    <mat-panel-title>
      {{ config.name }}
    </mat-panel-title>

  </mat-expansion-panel-header>

  <div *ngFor="let param of config.params">
    <table>
      <tr>
        <td colspan="3">
          {{param.name}}: {{param.defaultValue}}
        </td>
      </tr>
    </table>
  </div>

  <button mat-raised-button (click)="testConfig(config)"><i class="fa fa-play"></i></button>
  <button mat-raised-button (click)="cloneConfig(config)"><i class="fa fa-clone"></i></button>

</mat-expansion-panel>

<div (click)="toggleConnectionMode()" class="ip">{{ useLocalConnections ? 'L' : 'R' }} {{ scooterLocalIP + ':' + scooterLocalPort }} <div [class.healthy]="scooterHealth" class="health-status"></div></div>
